footer
	.container
		.the-grid-03
			
			.legal 
				p
					a(href="#") Términos y Condiciones
					span /
					a(href="#") Política de privacidad

			.copy
				p Derechos Reservados 2015  Tempus Consultoría Cultural

			.place
				p Morelia, Michoacán, México