header
	.container
		a(href="/").logo
			img(src="img/logo-tempus.png", alt="Tempus")
			
		nav
			ul#nav
				li: a(href="#nosotros") ¿Quiénes Somos?
				li: a(href="#servicios") ¿Qué hacemos?
				// li: a(href="#portafolio") Portafolio
				// li: a(href="#reconocimientos") Reconocimientos
				// li: a(href="#blog") Blog
				li: a(href="#contacto") ¡Platícanos!
